.view3d-canvas-wrapper {
  width: 100%;
  display: flex;
}

.view3d-canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.button.disabled, .button:disabled, .button[disabled] {
  pointer-events: all;
}

.button .tooltip {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 0.75rem;
  border-radius: 6px;
  position: absolute;
  bottom: 100%;
  right: 0%;
  z-index: 1;
}

.button:hover .tooltip {
  visibility: visible;
}

.button .tooltip::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  right: 23px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
