.ar-model-swapper {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow-x: auto;
}

.view3d-events-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.view3d-events {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
  border-radius: 10px;
}

.view3d-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.view3d-overlay.hidden {
  display: none;
}
