.playgroundRoot {
  width: 100%;
  height: calc(100vh - 3.75rem);
  display: flex;
  flex-direction: row;
}

.playground {
  height: 100%;
}

.model {
  flex: 1;
  height: 100%;
  position: relative;
}

.dropdownOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdownBox {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;
  z-index: 1;
}

html[data-theme='dark'] .dropdownBox {
  background-color: rgba(255, 255, 255, 0.3);
}

.dropdownBox * {
  vertical-align: middle;
}

.dropdownFileInput {
  display: none;
}

.control {
  width: 358px;
  height: 100%;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

html[data-theme='dark'] .control {
  box-shadow: -1px 0 2px 0 rgba(255, 255, 255, 0.1);
}

.resetBtn {
  position: absolute;
  display: flex;
  left: 10px;
  bottom: 10px;
  box-sizing: content-box;
  padding: 12px !important;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.modelInfo {
  position: absolute;
  display: flex;
  top: 0px;
  right: 0px;
  color: white;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
}

.asideMenu {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}

.asideMenu *:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

html[data-theme='dark'] .asideMenu *:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.asideMenuItem {
  flex: 1;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.05);
  font-weight: bold;
}

html[data-theme='dark'] .asideMenuItem {
  background-color: rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.asideMenuItem.selected,
html[data-theme='dark'] .asideMenuItem.selected {
  border-bottom: none;
  background-color: transparent;
}

.asideContent {
  flex: 1;
  overflow-y: auto;
}
