@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito/Nunito-Regular.ttf");
}

@font-face {
  font-family: "Staatliches";
  src: url("../fonts/Staatliches/Staatliches-Regular.ttf");
}
:root {
  --bg-color: #2D3142;
  --main-color: #F0F4EF;
  --highlight-color: #EF8354;
  --highlight-color2: #A8C256;
}
html {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: var(--main-color);
}
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.page-title {
  display: inline-flex;
  font-family: 'Staatliches', sans-serif;
  font-size: 5rem;
  padding: 2rem;
  color: var(--main-color);
  cursor: default;
  user-select: none;
  flex-direction: row;
  align-items: stretch;
  stroke: var(--main-color);
}
#cube-icon {
  width: 100px;
  height: 100px;
}
.page-header-wrapper {
  background-color: var(--bg-color);
  box-sizing: border-box;
  padding-bottom: 2rem;
}
.page-header {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  position: relative;
}
#menu-wrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  z-index: 999;
}
.menu-sidebar-positioner {
  width: 100%;
  position: relative;
  flex: 1;
  overflow-y: auto;
}
.menu-sidebar-positioner::-webkit-scrollbar {
  width: 5px;
}
.menu-sidebar-positioner::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.10);
}
.menu-sidebar-positioner::-webkit-scrollbar-thumb {
  background: var(--highlight-color);
}
.menu-sidebar-positioner::-webkit-scrollbar-thumb:hover {
  background: rgba(239, 131, 84, 0.7);
}
.menu-sidebar {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
}
.menu-header {
  font-size: 1.2rem;
  display: flex;
  padding-left: 2rem;
  font-family: 'Staatliches', sans-serif;
}
.menu-item {
  font-weight: bold;
  position: relative;
  padding: 5px;
}
.menu-item a {
  color: var(--main-color);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-item a:hover {
  color: var(--highlight-color);
}
.menu-logo {
  width: 48px;
  height: 48px;
  position: relative;
  padding: 5px;
  transition: all linear 300ms;
  box-sizing: border-box;
}
#menu-hamburger {
  display: none;
  flex: 0;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: #999 !important;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.35);
  margin-top: 10px;
  margin-bottom: 10px;
}
.demo-title {
  font-family: 'Staatliches', sans-serif;
  margin-left: 40px;
  font-size: 1.6rem;
  color: var(--highlight-color2);
}

.demo-wrapper {
  padding: 20px;
  border-radius: 60px 0 0 0;
  width: 100%;
  box-sizing: border-box;
}
.demo-list {
  position: relative;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.demo-vertical-list::before {
  content: "";
  width: 2px;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.10);
}
.demo-vertical-list {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
}
.demo-header {
  font-family: 'Staatliches', sans-serif;
  color: rgba(255, 255, 255, 0.66);
}
.demo-type {
  color: var(--highlight-color2);
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin: 0;
  margin-right: 5px;
  display: inline-block;
}
.demo-item {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  padding-left: 12px;
  border-radius: 5px;
  position: relative;
  color: var(--main-color);
  text-decoration: none;
  display: block;
  font-size: 1.2rem;
}
.demo-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.demo-item::before {
  content: "";
  width: 2px;
  height: 40%;
  top: 30%;
  left: 0;
  position: absolute;
  background-color: var(--highlight-color);
}
.demo-hash {
  color: rgba(255, 255, 255, 0.35);
  font-size: 1rem;
}
.main-canvas-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  flex: 1;
  flex-basis: 50%;
}
.size-1by1 {
  width: 100%;
  height: 0;
  padding-top: 100%;
  position: relative;
}
#view3d-canvas {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.model-credit-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem;
  box-sizing: border-box;
}
.model-credit-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.model-credit {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  vertical-align: bottom;
  overflow: hidden;
  box-sizing: border-box;
}
#model-detail-button {
  opacity: 0;
  display: none;
}
#actual-detail-button {
  width: 28px;
  height: 28px;
  display: inline-flex;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  cursor: pointer;
  user-select: none;
}
#model-detail-button:checked ~ #actual-detail-button {
  border: 2px solid var(--highlight-color2);
  color: var(--highlight-color2);
}
.model-detail {
  color: var(--main-color);
  display: block;
  height: 0;
  transition: transform 1s;
  overflow: hidden;
  text-align: right;
  margin: 5px;
  box-sizing: border-box;
  transform: translate3d(calc(100%), 0, 0);
}
.model-detail a {
  color: var(--main-color);
}
input[type="radio"]:checked ~ .model-detail,
input[type="checkbox"]:checked ~ .model-detail {
  height: auto;
  transform: translate3d(0, 0, 0);
}

.features-wrapper {
  padding: 2rem;
  background-color: var(--main-color);
  color: var(--bg-color);
}
.features-header {
  font-family: 'Staatliches', sans-serif;
  font-size: 5rem;
}
.features-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.features-separator {
  width: 100%;
  height: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  box-sizing: border-box;
  border-bottom: 2px dotted var(--bg-color);
}
.features-item {
  width: 100%;
}
.features-title {
  font-family: 'Staatliches', sans-serif;
  font-size: 3rem;
}
.features-subtitle {
  font-size: 1.6rem;
  margin-bottom: 1.3rem;
  font-weight: bold;
}
.features-subtitle a {
  color: var(--highlight-color)
}
.features-desc {
  font-size: 1rem;
}
.features-footer {
  width: 100%;
  box-sizing: border-box;
  padding: 0.4rem;
  font-size: 0.8rem;
  color: var(--bg-color);
  font-style: italic;
}
.features-footer a {
  color: var(--bg-color);
}
.features-footer a:hover {
  color: var(--highlight-color2);
}

.lod-showcase {
  display: flex;
  width: 100%;
  flex-direction: row;
}
.lod-cell {
  flex-basis: 50%;
  box-sizing: border-box;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.lod-canvas-wrapper {
  background-color: var(--bg-color);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lod-canvas {
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}
.lod-result,
.lod-thumbnail {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.lod-result {
  padding: 15px;
  color: var(--main-color);
  font-size: 0.9rem;
  pointer-events: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.lod-result-text {
  padding: 5px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 2px;
  border-radius: 5px;
}
.lod-thumbnail {
  filter: blur(5px);
}
.lod-thumbnail.disabled {
  display: none;
}
.lod-button {
  display: inline-block;
  position: absolute;
  width: 50%;
  font-size: 1.6rem;
  color: var(--bg-color);
  font-weight: bold;
  padding: 0.4rem;
  box-sizing: border-box;
  border: 3px solid #fff;
  cursor: pointer;
  border-radius: 20px;
  font-family: 'Staatliches', sans-serif;
  background-color: rgba(255, 255, 255, 0.6);
}
.lod-button:hover {
  color: var(--highlight-color2);
  background-color: rgba(255, 255, 255, 1);
}
.lod-button.activated {
  background-color: transparent;
  border: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  border-radius: 0;
  font-size: 0;
}
.lod-button.disabled {
  display: none;
}
.ar-table {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.ar-item {
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  text-align: center;
}
.ar-title {
  margin-top: 0.8rem;
  font-size: 1.4rem;
}
.ar-thumbnail-wrapper {
  overflow: hidden;
  border-radius: 20px;
}
.ar-thumbnail-placeholder {
  position: absolute;
  width: 100%;
  height: 0;
  top: 50%;
  left: 0;
  overflow: visible;
  display: flex;
  align-items: center;
}
.ar-thumbnail {
  width: 100%;
}

.footer-wrapper {
  width: 100%;
  background-color: var(--bg-color);
  color: var(--main-color);
  padding: 2rem;
  box-sizing: border-box;
}
.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-item {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}
.footer-icon {
  height: 2rem;
}
.footer-badge {
  margin-left: 0.6rem;
}
.footer-title {
  font-family: 'Staatliches', sans-serif;
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.footer-separator {
  color: rgba(255, 255, 255, 0.6);
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}
.footer-links {
  display: flex;
  flex-direction: row;
}
.footer-link a {
  color: var(--main-color);
  text-decoration: none;
}
.footer-link a:hover {
  border-bottom: 1px dotted var(--main-color);
}
.footer-menu {
  display: flex;
  flex-direction: row;
  font-family: 'Staatliches', sans-serif;
}
.footer-menu-item a {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  position: relative;
  padding: 5px;
  color: var(--main-color);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-menu-item a:hover {
  color: var(--highlight-color2);
}
.footer-menu-logo {
  padding: 5px;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .page-title, .features-header {
    font-size: 4rem;
  }
  #cube-icon {
    width: 80px;
    height: 80px;
  }
  .page-header-wrapper {
    padding-top: 3rem;
    padding-bottom: 0rem;
    height: auto;
  }
  #menu-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 60px;
    overflow-y: hidden;
  }
  .menu-sidebar {
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.5s;
  }
  #menu-wrapper.open {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    overflow-y: auto;
  }
  #menu-wrapper.open .menu-sidebar {
    transform: translate3d(0, 0, 0);
  }
  #menu-hamburger {
    display: inline-block;
  }
  .menu-header {
    font-size: 1.4rem;
  }
  .menu-item {
    margin: 0.5rem;
  }
  .features-title {
    font-size: 2rem;
  }
  .features-subtitle {
    font-size: 1rem;
  }
  .lod-cell,
  .ar-item {
    padding: 0.5rem;
  }
  .lod-showcase,
  .ar-table,
  .footer {
    flex-direction: column;
  }
  .footer-menu-logo {
    width: 32px;
    height: 32px;
  }
}
